data/external/
data/interim/
data/processed/
data/raw/
reports/
shares/
notebooks/.ipynb_checkpoints
notebooks/.virtual_documents
notebooks/probability/.ipynb_checkpoints
notebooks/probability/.virtual_documents
