[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
init = "*"
jupyter = "*"
jupyterlab = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
scipy = "*"
geopandas = "*"
scikit-learn = "*"
findspark = "*"
pyspark = "*"
elyra = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
